#navigation ul
{
    margin:0px;
    padding:0px;
}

#navigation ul li
{
    display:inline; 
    height:30px; 
    float:left; 
    list-style:none;
    margin-right: 15px;
}

#title
{
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-width: 1px;
}

#navigation
{
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-width: 1px;
    padding-bottom:13px;
}
