{% extends "base.html" %}

{% block html_title %}{{ object.name }}500{% endblock %}

{% block page_title %}{{ object.name }}500{% endblock %}

{% block content %}
    <p>
        Internal server error. This is probably a bug, so <a href="mailto:support@shortcut.ru">tell us</a> how you stubmled upon it.
    </p>
{% endblock %}