{% extends "base.html" %}

{% block html_title %}About{% endblock %}

{% block page_title %}About{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <h2>FAQ</h2>
    <p>
        <dl>
            <dt>
                Why don't statistics get updated?
            </dt>
            <dd>
                <p>
                    Make sure xsanio_backend is running:
                </p>
                <p>
                    <code>
                        ps uax | grep xsanio_backend | grep -v grep
                    </code>
                </p>
                <p>
                    If it's not, launch it either manually:
                </p>
                <p>
                    <code>
                        /opt/xsanio_server/run_backend.sh
                    </code>
                </p>
                <p>
                    or via launchd item (better!):
                </p>
                <p>
                    <code>
                        launchctl load /Library/LaunchDaemons/ru.shortcut.xsanio_server_backend.plist
                    </code>
                </p>
            </dd>

            <dt>
                Statistics seem inaccurate.
            </dt>
            <dd>
                <p>
                    Make sure all Xsan clients have xsanio_client package installed. You'll get actual numbers only if I/O data is coming from all the clients.
                </p>
            </dd>

            <dt>
                There're no volumes or clients discovered, and no I/O data is collected.
            </dt>
            <dd>
                <p>
                    Currently, this application uses Xsan configuration files to discover volumes and clients. Therefore, you should either run it on a metadata controller, or copy config files for volumes (*.cfg) and clients (config.plist) to your Xsan config directory /Library/Preferences/Xsan (OS X 10.7-10.8) or /Library/Filesystems/Xsan/config (OS X 10.5-10.6).
                </p>
            </dd>

        </dl>

    </p>

    <h2>Contact</h2>
    <p>
        Brought to you by Shortcut, Macintosh support and consulting company.
    </p>
    <p>
        <a href="http://shortcut.ru">Visit our website</a> or 
        <a href="mailto:support@shortcut.ru">drop us an e-mail</a>.
    </p>
{% endblock %}
