{% load mainapp_extras %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block html_title %}{% endblock %}</title>
    {% block meta %}{% endblock %}

    <script type="text/javascript">

        $.ajaxSetup({
            "error":function() { $(".error").show();  }
        });
        
    </script>

     {% block script %} {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kube.css" />   
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/master.css" />         
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/xsanio.css" />         
</head>
<body>
    <div id="page">
        <div class="wrapper">
            <div class="row" id="title">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
            <div class="row" id="navigation">
                <ul>
                    <li>
                        <a href="{% url home_view %}" class="gray-dark">Home</a>
                    </li>
                    <li>
                        <a href="{% url volume_list_view %}" class="gray-dark">Volumes</a>
                    </li>
                    <li>
                        <a href="{% url client_list_view %}" class="gray-dark">Clients</a>
                    </li>
                    <li>
                        <a href="{% url about_view %}" class="gray-dark">About</a>
                    </li>
                </ul>
            </div>

            {% block content %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        </div>
    </div>
</body>
</html>