{% extends "base.html" %}

{% block html_title %}Client list{% endblock %}

{% block page_title %}Client list{% endblock %}

{% block content %}
        {% if object_list %}
             <table class="width-100 striped">
                <thead>
                    <tr>
                        <th>
                            <b>Hostname</b>
                        </th>
                        <th>
                            <b>Address</b>
                        </th>
                        <th>
                            <b>Available</b>
                        </th>
                        <th>
                            <b>Has xsanio_client installed</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>
                                <a href="{% url client_detail_view object.id %}">{{ object.host_name }}</a>
                            </td>
                            <td>
                                {{ object.ip_address }}
                            </td>
                            <td>
                                {% if object.is_unreachable %}
                                    <p>No</p>
                                {% else %}
                                    <p style="color:green">Yes</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if object.has_client_installed %}
                                    <p style="color:green">Yes</p>
                                {% else %}
                                    {% if object.is_unreachable %}
                                        <p>No</p>
                                    {% else %}
                                        <p style="color:red">No</p>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No clients discovered. Make sure that you run this application on MDC and have xsanio_backend launched in the background.</p>
        {% endif %}
{% endblock %}
