        {% load mainapp_extras %}
        {% if disks_iodata %}
             <table class="width-100 striped">
                <thead>
                    <tr>
                        <th>
                            <b>Disk name/label</b>
                        </th>
                        <th>
                            <b><a href="{% url client_detail_view_sorted object.id 'bytes_read_sec' %}">Read, MB/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url client_detail_view_sorted object.id 'bytes_write_sec' %}">Write, MB/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url client_detail_view_sorted object.id 'io_read_sec' %}">Read, IO/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url client_detail_view_sorted object.id 'io_write_sec' %}">Write, IO/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url client_detail_view_sorted object.id 'bytes_sec' %}">Total data rate, MB/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url client_detail_view_sorted object.id 'io_sec' %}">Total, IO/s</a></b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for disk_iodata in disks_iodata %}
                        <tr>
                            <td>
                                {{ disk_iodata.disk_name }}
                            </td>
                            <td>
                                {{ disk_iodata.bytes_read_sec|to_megabytes }}
                            </td>
                            <td>
                                {{ disk_iodata.bytes_write_sec|to_megabytes }}
                            </td>
                            <td>
                                {{ disk_iodata.io_read_sec }}
                            </td>
                            <td>
                                {{ disk_iodata.io_write_sec }}
                            </td>
                            <td>
                                {{ disk_iodata.bytes_sec|to_megabytes }}
                            </td>
                            <td>
                                {{ disk_iodata.io_sec }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <i>Total </i>
                        </td>
                        <td>
                            <i>{{ global_stats.bytes_read_sec|to_megabytes }}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.bytes_write_sec|to_megabytes }}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.io_read_sec}}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.io_write_sec}}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.bytes_sec|to_megabytes }}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.io_sec}}</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No data collected for this client yet. Make sure xsanio_client is installed on this Mac.</p>
        {% endif %}