{% extends "base.html" %}

{% block html_title %}{{ client_name }}{% endblock %}

{% block page_title %}{{ client_name }}{% endblock %}

{% block script %}

<script src="{{ STATIC_URL }}jquery.js">
</script>
<script>
    function loadGlobalStats()
    {
        {% if order_by %}
            $(".stats").load('{% url client_detail_view_sorted_ajax pk order_by %}')
        {% else %}
            $(".stats").load('{% url client_detail_view_ajax pk %}')
        {% endif %}
    }

    $(function() {
        "use strict";
        $.ajaxSetup({ cache: false });

        loadGlobalStats()
        window.setInterval(loadGlobalStats, 2000);
    });
</script>

{% endblock %}

{% block content %}
        <p>
            <div class="row">
                <div class="stats">
                    <div class="third">
                    </div>
                    <div class="third">
                        <center>
                            <img src="{{ STATIC_URL }}loading.gif" width="15">
                        </center>
                    </div>
                </div>
            </div>
        </p>
{% endblock %}
