            {% load mainapp_extras %}
            {% if global_stats %}
                <table class="width-100 striped">
                    <thead>
                        <tr>
                            <th>
                                <b>Read, MB/s</b>
                            </th>
                            <th>
                                <b>Write, MB/s</b>
                            </th>
                            <th>
                                <b>Read, IO/s</b>
                            </th>
                            <th>
                                <b>Write, IO/s</b>
                            </th>
                            <th>
                                <b>Total data rate, MB/s</b>
                            </th>
                            <th>
                                <b>Total, IO/s</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i>{{ global_stats.bytes_read_sec|to_megabytes }}</i>
                            </td>
                            <td>
                                <i>{{ global_stats.bytes_write_sec|to_megabytes }}</i>
                            </td>
                            <td>
                                <i>{{ global_stats.io_read_sec}}</i>
                            </td>
                            <td>
                                <i>{{ global_stats.io_write_sec}}</i>
                            </td>
                            <td>
                                <i>{{ global_stats.bytes_sec|to_megabytes }}</i>
                            </td>
                            <td>
                                <i>{{ global_stats.io_sec}}</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
        {% else %}
            <p>Can't display global statistics, since no I/O data was collected yet. Install xsanio_client on all clients and try again.</p>
        {% endif %}
