{% extends "base.html" %}

{% block html_title %}Global Xsan statistics{% endblock %}

{% block page_title %}Global Xsan statistics{% endblock %}

{% block script %}

<script src="{{ STATIC_URL }}jquery.js">
</script>
<script>
    function loadGlobalStats()
    {
        $(".stats").load('{% url total_stats_ajax_view %}')
    }

    $(function() {
        "use strict";
        $.ajaxSetup({ cache: false });

        loadGlobalStats()
        window.setInterval(loadGlobalStats, 2000);
    });
</script>

{% endblock %}

{% block content %}
        <p>
            <div class="row">
                <div class="stats">
                    <div class="third">
                    </div>
                    <div class="third">
                        <center>
                            <img src="{{ STATIC_URL }}loading.gif" width="15">
                        </center>
                    </div>
                </div>
            </div>
        </p>
{% endblock %}

{% block footer %}
{% endblock %}