        {% load mainapp_extras %}
        {% if clients_data %}
            <table class="width-100 striped">
                <thead>
                    <tr>
                        <th>
                            <b>Client</b>
                        </th>
                        <th>
                            <b><a href="{% url volume_detail_view_sorted object.id 'bytes_read_sec' %}">Read, MB/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url volume_detail_view_sorted object.id 'bytes_write_sec' %}">Write, MB/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url volume_detail_view_sorted object.id 'io_read_sec' %}">Read, IO/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url volume_detail_view_sorted object.id 'io_write_sec' %}">Write, IO/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url volume_detail_view_sorted object.id 'bytes_sec' %}">Total data rate, MB/s</a></b>
                        </th>
                        <th>
                            <b><a href="{% url volume_detail_view_sorted object.id 'io_sec' %}">Total, IO/s</a></b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for client_obj in clients_data %}
                    <tr>
                        <td>
                            <a href="{% url client_detail_view client_obj.client_id %}">{{ client_obj.client_hostname }}</a>
                        </td>
                        <td>
                            {{ client_obj.bytes_read_sec|to_megabytes }}
                        </td>
                        <td>
                            {{ client_obj.bytes_write_sec|to_megabytes }}
                        </td>
                        <td>
                            {{ client_obj.io_read_sec }}
                        </td>
                        <td>
                            {{ client_obj.io_write_sec }}
                        </td>
                        <td>
                            {{ client_obj.bytes_sec|to_megabytes }}
                        </td>
                        <td>
                            {{ client_obj.io_sec }}
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>
                            <i>Total </i>
                        </td>
                        <td>
                            <i>{{ global_stats.bytes_read_sec|to_megabytes }}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.bytes_write_sec|to_megabytes }}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.io_read_sec}}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.io_write_sec}}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.bytes_sec|to_megabytes }}</i>
                        </td>
                        <td>
                            <i>{{ global_stats.io_sec}}</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>No data collected for this volume yet</p>
        {% endif %}
