{% extends "base.html" %}

{% block html_title %}Volume list{% endblock %}

{% block page_title %}Volume list{% endblock %}

{% block content %}
        {% if object_list %}
            <p>
                Please, select a volume:
            </p>
            <ul>
                {% for object in object_list %}
                    <li><a href="{% url volume_detail_view_sorted object.id 'io_sec' %}">{{ object.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No volumes discovered. Make sure that you run this application on MDC and have xsanio_backend launched in the background.</p>
        {% endif %}
{% endblock %}
